<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.pmm"
        versionCode = "10"
        version   = "1.0.0">
    <name>PMM</name>
    <description>
        Production Monitoring on Mobile
    </description>
    <preference name="stay-in-webview" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <gap:plugin name="com.adobe.plugins.pushplugin" />
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <preference name="prerendered-icon" value="true" />
    <author>
        eBay
    </author>

</widget>
